#root {
    max-width: 100% !important;
    margin: auto !important;
    padding: 0 !important;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img:hover {
    cursor: pointer;
}
.logo {
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.searchbar {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.search-items {
    display: flex;
    width: 100%;
}
